#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

override_dh_auto_clean:
	rm -rf go

override_dh_auto_build:
	mkdir -p go/src go/pkg usr/bin
	PATH=$$PATH:/usr/lib/go-1.8/bin GOPATH=$(CURDIR)/go \
		go get -u github.com/czerwonk/bird_exporter

override_dh_auto_test:

%:
	dh $@

.PHONY: build
